* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-menu {
    background: #f9fbfb;
    position: relative;
}

.menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: rgb(6, 0, 0);
    padding: 15px;
    display: inline-block;
    margin: 0.3rem;
}

.menu a:hover {
    background: #ef8958;
    box-shadow: 5px 10px 10px #ccc;
}

.Genero {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.title-logo {
    padding: 4px 10px;
    border-radius: 5px;
    color: #f9fbfb;
    bottom: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.bg-orange {
    background-color: #ef8958;
}

#umaru {
    width: 120px;
}



.section-grid>div {
    padding: 30px;
}

.w-50 {
    width: 50%;
}

.txt-center {
    text-align: center;
}

footer {
    background-color: #ef8958;
    padding: 20px 10px;
}

.redes {
    width: 100px;
}

.section-container {
    height: 100vh;
}

section:nth-child(odd) {
    background-color: #ededed;
}

.boton-explora {
    padding: 10px 20px;
    font-size: 16.5px;
    font-weight: 700;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ef8958;
    color: white;
    display: inline-block;
}

.boton-explora:hover {
    background-color: transparent;
    border: 2px solid #ef8958;
    color: #ef8958;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.galeria-container {
    display: grid;
    grid-template-areas:
        'foto1 foto2 foto3 foto4 foto5'
        'foto1 foto2 foto3 foto4 foto5'
        'foto6 foto7 foto8 foto9 foto9'
        'foto6 foto7 foto8 foto9 foto9'
        'foto10 foto10 foto10 foto10 foto10'
        'foto10 foto10 foto10 foto10 foto10'
        'foto11 foto11 foto11 foto11 foto11'
        'foto11 foto11 foto11 foto11 foto11';
    grid-template-columns: repeat(5, auto);
    align-items: stretch;
    column-gap: 12px;
    row-gap: 16px;
}

.galeria-container>div {
    border: 1px solid #ccc;
}

.galeria-container>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto10 {
    grid-area: foto10;
}


.foto6 {
    grid-area: foto6;
}

.foto7 {
    grid-area: foto7;
}

.foto8 {
    grid-area: foto8;
}

.foto9 {
    grid-area: foto9;
}

.foto11 {
    grid-area: foto11;
}

.carousel-item>img {
    height: 100vh;
}

.icon-menu {
    width: 40px;
}

.container-icon {
    display: none;
}

#switch-menu{
    display: none;
}

@media screen and (max-width: 992px) {
    .menu-items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        z-index: 1;
        background-color: #f9fbfb;
    }

    .container-icon {
        display: block;
    }


    .menu-items>a {
        display: block;
    }

    #switch-menu:checked + .menu-items{
        display: block;
    }
}

