* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-menu {
    background: #f9fbfb;
}

.menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: rgb(6, 0, 0);
    padding: 15px;
    display: inline-block;
    margin: 0.3rem;
}

.menu a:hover {
    background: #ef8958;
    box-shadow: 5px 10px 10px #ccc;
}

.Genero {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.title-logo {
    padding: 4px 10px;
    border-radius: 5px;
    color: #f9fbfb;
    bottom: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.bg-orange {
    background-color: #ef8958;
}

#umaru {
    width: 120px;
}

.inicio {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.inicio>div {
    padding: 30px;
}

.w-50 {
    width: 50%;
}

.txt-center {
    text-align: center;
}

footer {
    background-color: #ef8958;
    padding: 20px 10px;
}

.redes {
    width: 100px;
}

.section-container {
    height: 100vh;
}

section:nth-child(odd) {
    background-color: #ededed;
}

.boton-explora {
    padding: 10px 20px;
    font-size: 16.5px;
    font-weight: 700;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ef8958;
    color: white;
    display: inline-block;
}

.boton-explora:hover{
    background-color: transparent;
    border: 2px solid #ef8958;
    color: #ef8958;
}

.section-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}