/* colores primarios*/
$color-primario:#ef8958;
$color-activo:#ef8958;
$color-fondo:#f9fbfb;
$color-fondo-1:#ededed;

/* colores secundarios*/
$color-navbar: rgb(6, 0, 0);
$color-botom: white;
$color-image-overlay:rgba(0, 0, 0, 0.6);
$color-image-overlay-1:#ffffff;
$color-border:#ccc;

/* fonts*/
$font-family: Arial, Helvetica, sans-serif;