@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');

/* colores primarios*/
$color-primario:#ef8958;
$color-activo:#ef8958;
$color-fondo:#f9fbfb;
$color-fondo-1:#ededed;

/* colores secundarios*/
$color-navbar: rgb(6, 0, 0);
$color-botom: white;
$color-image-overlay:rgba(0, 0, 0, 0.6);
$color-image-overlay-1:#ffffff;
$color-border:#ccc;

/* arma tu outfit*/
$color-wrap:rgba(0, 0, 0, 50%);
$color-info-lorem:#ECEAED;
$color-card-carrusel:#fff;
$color-wrap-1:rgba(0, 0, 0, 45%);
$current-color-center:#fad00c;
$current-color1:#ECEAED;
$current-color2:#404457;
$dots-color:#5B85F9;
$dots-color1:#000;


/* fonts*/
$font-family: Arial, Helvetica, sans-serif;
$font-family-1: Urbanist;