@import 'variables';
@import 'footer';
@import 'resets';
@import 'base';
@import 'header';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
}

.container-menu {
    background: $color-fondo;
    position: relative;
}

.menu {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: $color-navbar;
    padding: 15px;
    display: inline-block;
    margin: 0.3rem;
}

.menu a:hover {
    background: $color-primario;
    box-shadow: 5px 10px 10px $color-border;
}

.Genero {
    font-family: $font-family;
}

#logo {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.title-logo {
    padding: 4px 10px;
    border-radius: 5px;
    color: $color-fondo;
    bottom: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.bg-orange {
    background-color: $color-activo;
}

#umaru {
    width: 120px;
}



.section-grid>div {
    padding: 30px;
}

.w-50 {
    width: 50%;
}

.txt-center {
    text-align: center;
}

footer {
    background-color: $color-activo;
    padding: 20px 10px;
}

.redes {
    width: 100px;
}

.section-container {
    height: 100vh;
}

section:nth-child(odd) {
    background-color: $color-fondo-1;
}


.boton-explora {
    padding: 10px 20px;
    font-size: 16.5px;
    font-weight: 700;
    border-radius: 20px;
    text-decoration: none;
    background-color: $color-activo;
    color: $color-botom;
    display: inline-block;
}

.boton-explora:hover {
    background-color: transparent;
    border: 2px solid $color-activo;
    color: $color-activo;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.galeria-container {
    display: grid;
    grid-template-areas:
        'foto1 foto2 foto3 foto4 foto5'
        'foto1 foto2 foto3 foto4 foto5'
        'foto6 foto7 foto8 foto9 foto9'
        'foto6 foto7 foto8 foto9 foto9'
        'foto10 foto10 foto10 foto10 foto10'
        'foto10 foto10 foto10 foto10 foto10'
        'foto11 foto11 foto11 foto11 foto11'
        'foto11 foto11 foto11 foto11 foto11';
    grid-template-columns: repeat(5, auto);
    align-items: stretch;
    column-gap: 12px;
    row-gap: 16px;
}

.galeria-container>div {
    border: 1px solid $color-border;
}

.galeria-container>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s;
}

.galeria-container>div>img:hover {
    transform: scale(1.15);
}

.foto1 {
    grid-area: foto1;
}

.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto5 {
    grid-area: foto5;
}

.foto10 {
    grid-area: foto10;
}


.foto6 {
    grid-area: foto6;
}

.foto7 {
    grid-area: foto7;
}

.foto8 {
    grid-area: foto8;
}

.foto9 {
    grid-area: foto9;
}

.foto11 {
    grid-area: foto11;
}

.carousel-item>img {
    height: 100vh;
}

.icon-menu {
    width: 40px;
}

.container-icon {
    display: none;
}

#switch-menu {
    display: none;
}

@media screen and (max-width: 992px) {
    .menu-items {
        display: none;
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        z-index: 1;
        background-color: $color-fondo;
    }

    .container-icon {
        display: block;
    }


    .menu-items>a {
        display: block;
    }

    #switch-menu:checked+.menu-items {
        display: block;
    }

    .section-grid {
        grid-template-columns: 1fr;
    }

    .section-grid>div>img {
        width: 100%;
    }

    .section-container {
        height: auto;
    }
}

.img-home {
    border-radius: 45px;
    box-align: center;
}

.cuadrado {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: stretch;
    column-gap: 12px;
    row-gap: 16px;
}

.cuadrado>div {
    height: 98%;
    border-radius: 15px;
    background-color: $color-activo;
}

.cuadrado>div>img {
    border-radius: 15px;
}

.image {
    position: relative;
    width: 400px;
    display: inline-block;
    margin: 40px;
}

.image__img {
    display: block;
    width: 100%;
    border-radius: 15px;
    align-items: center;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background: $color-image-overlay;
    color: $color-image-overlay-1;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 15px;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay>* {
    transform: translate(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover>* {
    transform: translate(0);
}

.image__tittle {
    font-size: 2em;
    font-weight: 0.25em;
}

.image__description {
    font-size: 1.25em;
    margin-top: 00.25em;
}