header {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

.menu {
    list-style: none;
    padding: 0;
    background: #f9fbfb;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu a{
    text-decoration: none;
    color: rgb(6, 0, 0);
    padding: 15px;
    display: inline-block;
    margin: 0.3rem;
}

.menu a:hover{
    background: #ef8354;
}

.Genero{
    font-family: Arial, Helvetica, sans-serif;
}